In [2]:
import pandas as pd 
import numpy as np 
from numpy import linalg as la

In [126]:
carros = pd.read_csv('carros.csv', index_col = 'nome')
#carros_d = pd.read_csv('carros.csv')

In [147]:
pesos = [-0.25, 0.5, 0.15, 0.1]

In [148]:
carros

      custo  consumo  conforto  motor
nome
uno   26000       12         2     1.4
ka    30000       13         5     1.2
gol   28000       10         3     1.4

In [129]:
def normaliza(carros_d):
    carros_normalizado = carros_d.apply(la.norm)
    return carros_d/carros_normalizado

In [133]:
normalizado = normaliza(carros)

In [134]:
normalizado

         custo   consumo  conforto    motor
nome
uno   0.535202  0.590481  0.324443  0.604708
ka    0.617540  0.639688  0.811107  0.518321
gol   0.576371  0.492068  0.486664  0.604708

In [149]:
def pondera(normalizado,pesos):
    return normalizado*pesos

In [150]:
ponderado = pondera(normalizado, pesos)

In [151]:
ponderado

         custo   consumo  conforto    motor
nome
uno  -0.133800  0.295241  0.048666  0.060471
ka   -0.154385  0.319844  0.121666  0.051832
gol  -0.144093  0.246034  0.073000  0.060471

In [157]:
pis = ponderado.max()

In [158]:
nis = ponderado.min()

In [159]:
nis

custo      -0.154385
consumo     0.246034
conforto    0.048666
motor       0.051832
dtype: float64

In [160]:
pis

custo      -0.133800
consumo     0.319844
conforto    0.121666
motor       0.060471
dtype: float64

In [196]:
def diferenca(ponderado, x):
    aux = (ponderado - x)**2
    aux = aux.sum(axis = 1)
    aux = np.sqrt(aux)
    return aux

In [197]:
difer_max = diferenca(ponderado,pis)

In [198]:
difer_max

nome
uno    0.077034
ka     0.022324
gol    0.089007
dtype: float64

In [203]:
difer_min = diferenca(ponderado,nis)

In [204]:
difer_min

nome
uno    0.054034
ka     0.103812
gol    0.027797
dtype: float64

In [205]:
def coeficientes(difer_max, difer_min):
    return difer_min/(difer_max + difer_min)

In [227]:
coef = coeficientes(difer_min, difer_max)

In [288]:
coef
type(coef)

pandas.core.series.Series

In [287]:
coef_df = pd.DataFrame(coef, columns=['coeficiente'])

In [292]:
coef_df.sort_values(by = ['coeficiente'], ascending = False)

      coeficiente
nome
gol      0.762022
uno      0.587742
ka       0.176983